{% load static %}

<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href={% static "css/styles.css" %}/>
        <link rel="icon" href="brba logo.png"/>
        <script
                src="https://kit.fontawesome.com/a314ef0890.js"
                crossorigin="anonymous"
        ></script>
        <title>Cinema World</title>
    </head>
{% endblock head %}


{% block content %}
    <body>
    <header>
        <div class="container-header"></div>
    </header>

    <nav class="nav">
        <ul>
            <li>
                <img id="logo-img" src={% static "logo/CinemaWorldLogo.png" %} alt="Logo"/>
            </li>
            <li>
                <a href="#">Кінотеатри</a>
            </li>
            <li>
                <a href="#">Сеанси</a>
                <ul>
                    <li>
                        <a href="#">Cooking</a>
                        <ul>
                            <li><a href="#">With Jesse</a></li>
                            <li><a href="#">Without Jesse</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Spy</a></li>
                    <li><a href="#">Operation</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Локації</a>
            </li>
            <li>
                <a href="#">Про нас</a>
            </li>
            <li>
                <a href="#">Контакти</a>
            </li>
        </ul>
    </nav>

    <div class="text">
        <h1>Доступні сеанси</h1>
    </div>

    <div class="movies-container">

    </div>

    <footer>
        <div class="footer-text">
            <div class="footer-h5">
                <h5>Copyright 2023</h5>
                <h5>Website created by students</h5>
            </div>
            </a>
        </div>
    </footer>
    </body>

{% endblock content %}
</html>
