{% load static %}

<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta charset="UTF-8"/>
        <!-- <link rel="stylesheet" type="text/css" href="../static/css/reservation-styles.css"/> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/reservation-styles.css' %}"/>
        <link rel="icon" href=""/>
        <title>Cinema World</title>
    </head>
{% endblock head %}


{% block content %}
    <body>
    <nav class="nav">
        <ul>
            <li>
                <img id="logo-img" src="{% static 'logo/CinemaWorldLogo.png' %}" alt="Logo"/>
            </li>
            <li>
                <a href="#">Кінотеатри</a>
            </li>
            <li>
                <a href="#">Сеанси</a>
            </li>
            <li>
                <a href="#">Локації</a>
            </li>
            <li>
                <a href="#">Про нас</a>
            </li>
            <li>
                <a href="#">Контакти</a>
            </li>
            <div class="log-in">
                <a href="#">Увійти</a>
            </div>
        </ul>
    </nav>

    <div class="main-reserv-div">
        <div class="reserv-left-part">
            <img src="{{ movie.poster.url }}" alt="movie">
            <h2>{{ movie.title }}</h2>
        </div>
        <div class="reserv-middle-part">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <div class="buttons">

                {% for session in sessions %}
                    <button id='your-button{{ session.pk }}'
                            class="round-button">{{ session.start.time }}, {{ session.start.date }}</button>

                    <script>
                        $(document).ready(function () {
                            $('#your-button{{ session.pk }}').on('click', function () {
                                takeReservationsReload({{ session.pk }});
                                takeActualReservations({{ session.pk }});
                            });
                        });
                    </script>
                    <div id="reservation-list"></div>
                {% endfor %}
            </div>
        </div>

        <script>
            var buttons = document.getElementsByClassName("round-button");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("click", function () {
                    var currentButton = this;

                    var prevButton = document.querySelector(".round-button.clicked");
                    if (prevButton && prevButton !== currentButton) {
                        prevButton.classList.remove("clicked");
                        prevButton.disabled = false;
                    }

                    currentButton.classList.add("clicked");
                    currentButton.disabled = true;
                });
            }
        </script>

        <div class="reserv-right-part">
            <div class="reserv-div">
                <ul class="showcase">
                    <li>
                        <div class="seat"></div>
                        <small>Вільно</small>
                    </li>

                    <li>
                        <div class="seat selected"></div>
                        <small>Обрано</small>
                    </li>

                    <li>
                        <div class="seat occupied"></div>
                        <small>Зайнято</small>
                    </li>
                </ul>

                <div class="container">
                    <div class="screen"></div>
                    <div class="row">
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                    </div>
                    <div class="row">
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                    </div>

                    <div class="row">
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                    </div>

                    <div class="row">
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                    </div>

                    <div class="row">
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                    </div>

                    <div class="row">
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                        <div class="seat occupied"></div>
                    </div>
                </div>

                <p class="text">
                    Ціна квитка <span id="total">0</span> гривень
                </p>
            </div>
            <div class="buyBtn">
                <button id="openFormBtn" class="btn btn-primary">Придбати квиток</button>
            </div>
        </div>
    </div>
    <script src="{% static "js/reservation-script.js/" %}"></script>


    <div id="overlay"></div>
    <div id="formBackdrop" class="form-container">
        <h1 class="form-title">Актуалізація інформації</h1>
        <form action="#" id="Form" method="post">
            {% csrf_token %}
            <div class="main-user-info">
                <div class="user-input-box">
                    <label class="form-label">{{ form.client_name.label }}:</label>
                    <input type="text"
                           id="fullName"
                           name="client_name"
                           placeholder="Введіть ваше ім'я"/>
                </div>
                <div class="user-input-box">
                    <label class="form-label">{{ form.client_email.label }}:</label>
                    <input type="email"
                           id="email"
                           name="client_email"
                           placeholder="Введіть email"/>
                </div>
                <div class="user-input-box">
                    <label class="form-label">{{ form.client_phone.label }}:</label>
                    <input type="tel"
                           id="phoneNumber"
                           name="client_phone"
                           placeholder="Введіть номер телефону"/>
                </div>

                <input type="text"
                       id="seatNum"
                       name="place_num"
                       placeholder="Введіть номер обраного місця у залі">
                <input style="display: none" type="number" id="id_session_id" name="session_id"
                       value="{{ session_id }}">

            </div>
            <div class="form-submit-btn">
                <button type="button" onclick="submitForm(numbersOfSelectedSeats)">Зарезервувати</button>
            </div>
        </form>
    </div>
    <script>
        function submitForm(list) {

            var form = document.getElementById('Form');
            var input1 = document.getElementById('fullName');
            var input2 = document.getElementById('email');
            var input3 = document.getElementById('phoneNumber');
            var input4 = document.getElementById('seatNum');
            var input5 = document.getElementById('id_session_id');

            input4.value = list;
            form.submit();
            console.log(input4.value)

        }
    </script>

    <script>
        $(document).ready(function () {
            // Hide the form backdrop initially
            $("#formBackdrop").hide();
            $("#overlay").hide();

            // Handle button click event
            $("#openFormBtn").click(function () {
                // Show or hide the form backdrop based on its current visibility
                $("#formBackdrop").toggle();
                $("#overlay").toggle();
            });

            $("#overlay").click(function () {
                $("#formBackdrop").hide();
                $("#overlay").hide();
            });
        });
    </script>
    <footer>
        <div class="footer-container">
            <div class="left-part">
                <a href="#">Сеанси</a>
                <a href="#">Про нас</a>
                <a href="#">Контакти</a>
            </div>
            <div class="right-part">
                <h5>Зателефонуйте нам</h5>
                <h5>+380 66 666 66 66</h5>
                <h5>Copyright 2023</h5>
            </div>
        </div>
    </footer>
    </body>
{% endblock content %}
</html>