{% load static %}

<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/reservation-styles.css' %}"/>
        <link rel="icon" href="" /> 
        <title>Cinema World</title>
    </head>
{% endblock head %}


{% block content %}
<body>
    <nav class="nav">
      <ul>
        <li>
            <img id="logo-img" src="{% static 'logo/CinemaWorldLogo.png' %}" alt="Logo" />
        </li>
        <li>
          <a href="#">Кінотеатри</a>
        </li>
        <li>
          <a href="#">Сеанси</a>
        </li>
        <li>
          <a href="#">Локації</a>
        </li>
        <li>
            <a href="#">Про нас</a>
        </li>
        <li>
            <a href="#">Контакти</a>
        </li>
        <div class="log-in">
          <a href="#">Увійти</a>
        </div>
      </ul>
    </nav>

    <div class="main-reserv-div">
        <div class="reserv-left-part">
            <img src="{{ movie.poster.url }}" alt="movie">
            <h2>{{ movie.title }}</h2>
        </div>
        <div class="reserv-middle-part">
            <!-- <form>
                <label for="time">Choose a time:</label>
                <select id="time" name="time">
                    {% for session in sessions %}
                    <option value="{{ session.pk }}/reservation/">{{ session.start }}</option>
                    {% endfor %}
                </select>

                <br>

                <input type="submit" value="Book Session">
            </form> -->
            <div class="buttons">
              <button class="round-button">12 Травня, 7:30</button>
              <button class="round-button">12 Травня, 7:30</button>
              <button class="round-button">12 Травня, 7:30</button>
              <button class="round-button">12 Травня, 7:30</button>
              <button class="round-button">12 Травня, 7:30</button>
              <button class="round-button">12 Травня, 7:30</button>
              <button class="round-button">12 Травня, 7:30</button>
              <button class="round-button">12 Травня, 7:30</button>
              <button class="round-button">12 Травня, 7:30</button>
              <button class="round-button">12 Травня, 7:30</button>
              <button class="round-button">12 Травня, 7:30</button>                  
            </div>
        </div>

        <script>
          var buttons = document.getElementsByClassName("round-button");
          for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", function() {
              var currentButton = this;
              
              var prevButton = document.querySelector(".round-button.clicked");
              if (prevButton && prevButton !== currentButton) {
                prevButton.classList.remove("clicked");
                prevButton.disabled = false;
              }
              
              currentButton.classList.add("clicked");
              currentButton.disabled = true;
            });
          }
        </script>

        <div class="reserv-right-part">
            <div class="reserv-div">    
                  <ul class="showcase">
                    <li>
                      <div class="seat"></div>
                      <small>Вільно</small>
                    </li>
              
                    <li>
                      <div class="seat selected"></div>
                      <small>Обрано</small>
                    </li>
              
                    <li>
                      <div class="seat occupied"></div>
                      <small>Зайнято</small>
                    </li>
                  </ul>
              
                  <div class="container">
                    <div class="screen"></div>
                    <div class="row">
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                    </div>
                    <div class="row">
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat occupied"></div>
                      <div class="seat occupied"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                    </div>
              
                    <div class="row">
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat occupied"></div>
                      <div class="seat occupied"></div>
                    </div>
              
                    <div class="row">
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                    </div>
              
                    <div class="row">
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat occupied"></div>
                      <div class="seat occupied"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                    </div>
              
                    <div class="row">
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat"></div>
                      <div class="seat occupied"></div>
                      <div class="seat occupied"></div>
                      <div class="seat occupied"></div>
                      <div class="seat"></div>
                    </div>
                  </div>
              
                  <p class="text">
                    Ціна квитка <span id="total">0</span> гривень
                  </p>
            </div>
            <div class="buyBtn">
              <button>Придбати квиток</button>
            </div>
        </div>  
    </div>
    
    <script src="{% static "js/reservation-script.js/" %}"></script>


    <footer>
      <div class="footer-container">
        <div class="left-part">          
          <a href="#">Сеанси</a>
          <a href="#">Про нас</a>
          <a href="#">Контакти</a>
        </div>
        <div class="right-part">
          <h5>Зателефонуйте нам</h5>
          <h5>+380 66 666 66 66</h5>
          <h5>Copyright 2023</h5>
        </div>
      </div>
    </footer>
  </body>
{% endblock content %}
</html>