body {
  background-color: rgb(253, 253, 253);
  font-size: 16px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/*navigation*/
.nav {
  padding: 10px 0 10px 0;
  background-color: #141414; 
}
.nav ul {
  list-style: none;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline-start: 0;
}
.nav > ul {
  display: flex;
  justify-content: center;
}
.nav > ul li a {
  display: block;
  padding: 15px 30px 15px 30px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav li a:hover {
  color: #4caf50;
  transition: all 0.3s ease;
}
.nav ul li:last-child {
  border-right: 0;
}
.nav li ul {
  position: absolute;
  min-width: 170px;
  display: none;
  background: rgb(253, 253, 253);
  margin: 0;
}
.nav li:hover > ul {
  display: block;
  box-shadow: 5px 5px 15px -5px black;
}
.nav li > ul li {
  border-bottom: 1px solid rgb(230, 230, 230);
  border-right: 0;
}
.nav li > ul a:hover {
  color: white;
  background: #4caf50;
}
.nav li > ul li ul {
  position: absolute;
  min-width: 250px;
  left: 170px;
  top: 0;
}
.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 30px;
}
.log-in a {
  text-decoration: none;
  font-size: small;
  color: #969696;
  transition: all 0.3s ease;
}
.log-in a:hover {
  font-size: medium;
  transition: all 0.3s ease;
}



.text {
  padding: 20px 0; 
  width: 760px;
  margin: 0 auto;
}
.text h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-bottom: 0;
}
.text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}


/*slider*/
.slider-aviable-movies {
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.slider-future-movies {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 270px;
  height: 370px;
  margin-right: 10px;
  transition: all 0.3s ease;
  border: 10px solid black;
}
.product-card:hover {
  flex: 0 0 auto;
  width: 270px;
  height: 370px;
  margin-right: 10px;
  transition: all 0.3s ease;
  opacity: 0.7;
}

.product-image {
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-btn1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.card-btn2 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn1, .product-card:hover .card-btn2 {
  opacity: 1;
}

.card-btn1:hover, .card-btn2:hover {
  background: #5f9e62;
  color: #ffffff;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

/* .collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
} */


/*future movies*/
.future-movies-container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.future-movies-container img {
  width: 270px;
  height: 370px;
}
.future-movies-container h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  text-align: center;
}
#mavka-img {
  margin-left: 5px;
  margin-right: 5px;
}


/*pictures with text*/
.why-we-container1 {
  width: 54%;
  margin: auto;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-we-container1 > .why-we-text {
  margin-right: 50px;
}
.why-we-container1 > .why-we-text p {
  width: 300px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
#image-1 {
  width: 450px;
  height: 300px;
}

.why-we-container2 {
  width: 54%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-we-container2 > .why-we-text {
  margin-left: 50px;
}
.why-we-container2 > .why-we-text p {
  width: 300px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
#image-2 {
  width: 450px;
  height: 300px;
}

.why-we-container3 {
  width: 54%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-we-container3 > .why-we-text {
  margin-right: 50px;
}
.why-we-container3 > .why-we-text p {
  width: 300px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
#image-3 {
  width: 450px;
  height: 300px;
}

.why-we-container4 {
  width: 54%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-we-container4 > .why-we-text {
  margin-left: 50px;
}
.why-we-container4 > .why-we-text p {
  width: 300px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
#image-4 {
  width: 450px;
  height: 300px;
}
.google-map-div {
  width: 55%;


  width: 55%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
footer {
  background: #141414;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80px; 
  margin-top: 50px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.left-part {
  width: 50%;
  padding: 0 0 0 23%;
}
.left-part a {
  color: rgb(191, 191, 191);
  margin: 1%;
  text-decoration: none;
  text-align: left;
  display: block;
}
.right-part {
  width: 50%;
  padding: 0 23% 0 0;
}
.right-part h5 {
  color: rgb(191, 191, 191);
  text-align: right;
  margin: 1%;
}